body {
 background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

header {
  display: block;
}

.container {
  clear: both;
  padding: 5%;
}

nav {
  padding: 20px;
}

nav li{
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-right: 7px;
  color: blue;
}

.block {
  display: block;
}

.center {
  margin: 0 auto;
}

.w-70 {
  width: 40%;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-t-2 {
  margin-top: 2em;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 15px;
}

.round-1 {
  border-radius: 1em;
  background-color: silver;
}

.text-c {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.errors {
  color:  #FF0000;
}

.no-style-button {
  background: none;
}

.no-style-button input {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: underline;
}

.no-style-button input:hover {
  text-decoration: underline;
}

.main-header {
 font-family: 'Playfair Display', serif;
 font-size: 2em;
}



/*a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline;
    text-decoration: none;
    color: red;

}


.article-box ul{
  flex-direction: row;
  justify-content: center;
    padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}


.article-box li {
  background: #EBFC67;
  padding: 25px;
  width: 300px;
  margin: 30px;
}


.article-box li a {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
}

.article-box li a:link {
  color: #b74e28;
}

.article-box li a:visited {
  color: #600b2a;

}

.article-box li a:hover {
  text-decoration: underline;
}*/



/*Graident styled form template:

form:focus, input:focus {
  border: 2px solid #900;
}

form {
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
  margin: auto;
  position: relative;
  width: 250px;
  height: 150px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: silver;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
}

input {
  width: 175px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


button {
  width: 100px;
  position: absolute;
  right: 90px;
  bottom: 20px;
  background: gray;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}
*/


/* .no-style-button input {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: none;
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}

.no-style-button input:hover {
  color: inherit;
  text-decoration: inherit;
} */
