body {
  background-color: rgb(156, 215, 270);
}
header {
  display: block;
}

.container {
  clear: both;
  padding: 5%;
}

nav {
  padding: 20px;
}

nav li{
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-right: 7px;
  color: blue;
}

.block {
  display: block;
}

.center {
  margin: 0 auto;
}

.w-70 {
  width: 40%;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-t-2 {
  margin-top: 2em;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 15px;
}

.round-1 {
  border-radius: 1em;
  background-color: silver;
}

.text-c {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.errors {
  color:  #FF0000;
}

.no-style-button {
  background: none;
}

.no-style-button input {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: underline;
}

.no-style-button input:hover {
  text-decoration: underline;
}

.main-header {
font-family: 'Playfair Display', serif;
}
